<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icos.podarmills">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ComplaintsPage"></activity>
        <activity android:name=".InventoryDetails"></activity>
        <activity android:name=".AddMaintenance" />
        <activity android:name=".SupplyChainStatusChange" />
        <activity android:name=".SupplyChainMainPage" />
        <activity android:name=".SupplyChainAddOrder" />
        <activity android:name=".SupplyChainOrderList" />
        <activity android:name=".SupplyChainOrderDetails" />
        <activity android:name=".AddInventoryActivity" />
        <activity android:name=".InventoryList" />
        <activity android:name=".OptionPage" />
        <activity android:name=".CreateUserPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".SendNotificationToAdmin"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            <!--
            Set custom default icon. This is used when no icon is set for
            incoming notification messages. See README(https://goo.gl/l4GJaQ)
            for more.
            -->
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ntclogo" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorPrimary" />
        </service>



    </application>

    <permission android:name="com.name.name.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.name.name.permission.C2D_MESSAGE" />

</manifest>